<?xml version="1.0" encoding="utf-8"?>
<Config>
	<DirectionObject>
		<LivingRM_Sofa x="5" y="463" Width="80" Height="140" Angle="0" />
		<LivingRM_Table x="115" y="487" Width="60" Height="90" Angle="0" />
		<LivingRM_Cabinet x="259" y="463" Width="40" Height="140" Angle="0" />
		<DiningRM_Table x="40" y="70" Width="80" Height="160" Angle="0" />
		<DiningRM_Chair x="130" y="127" Width="45" Height="45" Angle="0" />
		<Library_Desk x="303" y="450" Width="60" Height="120" Angle="0" />
		<Library_Chair x="370" y="487" Width="45" Height="45" Angle="0" />
		<Library_Cabinet x="453" y="563" Width="120" Height="40" Angle="0" />
		<BedRM_Bed x="423" y="85" Width="180" Height="130" Angle="0" />
		<DiningRM_door x="0" y="0" Width="0" Height="0" Angle="0" />
		<BedRM_door x="0" y="0" Width="0" Height="0" Angle="0" />
		<ChargeArea x="0" y="0" Width="0" Height="0" Angle="0" />
		<EndArea x="0" y="0" Width="0" Height="0" Angle="0" />
	</DirectionObject>

	<ColorModel>
		<Blue HueMax="0.5" HueMin="0" SaturationMax="0.6" SaturationMin="0" BrightnessMax="1" BrightnessMin="0" />
		<Green HueMax="0.8" HueMin="0" SaturationMax="0.4" SaturationMin="0" BrightnessMax="0.7" BrightnessMin="0" />
		<Red HueMax="0.8" HueMin="0" SaturationMax="0.4" SaturationMin="0" BrightnessMax="0.7" BrightnessMin="0" />
	</ColorModel>

	<AStar_PathFinder>
		<MapGrid_Config length = "61" Width = "61" NodeResolution = "10"/>
	</AStar_PathFinder>

	<LaserConfig>
		<General ansDef_DeviceName = "Com6" />
		<MDMS iDef_StartStep = "180" iDef_EndStep = "900" iDef_Cluster = "12" iDef_Scan_Interval = "3" iDef_Scan_Times = "1" bDef_InfScan = "1" />
	</LaserConfig>

	<RoomMissionConfig>
		<RoomMission Room1 = "7532" Room2 = "7532" Room3 = "743" Room4 = "2" Room5 = "715321" />
	</RoomMissionConfig>

	<BasicConfig>
		<RobotPos x = "26" y = "273" />
		<RootHandle x = "0" y = "0" />
		<StartPos x = "26" y = "275" />
		<EndPos x = "584" y = "294" />
		<FindBallEn FindBallEn="0001" />
		<LivRMDoor x = "000" y = "000" />
		<LivRMCen x = "204" y = "100" />
		<DinRMDoor x = "234" y = "354" />
		<DinRMCen x = "154" y = "394" />
		<LibDoor x = "569" y = "164" />
		<LibCen x = "454" y = "104" />
		<BedRMDoor x = "424" y = "364" />
		<BedRMCen x = "444" y = "364" />
		<ChrgDoor x = "324" y = "554" />
		<ChrgCen x = "324" y = "589" />
	</BasicConfig>
	

	<StraConfig>
		<Stra_Astar PathErrRange = "45" AchieveErrRange = "25" />
		<Stra_Avoid StartAngle_du = "-90" ScanLineSize = "61"ScanLineScale_du = "3" SafeRange = "70" SafeArc_D = "60" SafeArc_A = "60" AvoidConfig1 = "1.2" AvoidForce_du = "130" FixDirect = "0" />
		<Stra_MotorCommand MaxSpeed = "63" MoveAddition = "1" RotateAddition = "1" />
		<Stra_PathPlan DetourConst = "85" />
		<Stra_VelocityControl dis_max = "100" dis_min = "100" spd_max = "127" spd_min = "127" sita_max = "1.047197552" sita_min = "1.047197552" w_max = "21" w_min = "9" />
	</StraConfig>
</Config>
		
